@import "../../styles/variables.scss";

.animation {
  color: red;
}


.box {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #270008;
  will-change: transform;
  color:wheat;
}