@import "../../styles/variables.scss";
.c {
  position: absolute;
  width: 33vw;
  height: 22vw;
  border-radius: 10px;
  cursor: pointer;
  will-change: transform, opacity;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_1 {
  width: 50%;
  height: 50%;
}

.project_1 {
  background-color: #fad0c9ff;
}

.project_2 {
  background-color: #6e6e6dff;
}

.project_3 {
  background-color: #00203fff;
}

.project_4 {
  background-color: #adefd1ff;
}

.front {
  border: 3px solid black;
  section {
    padding: 20px;

    p {
      font-family: $light-font;
      font-size: 22px;
      padding-bottom: 10px;
    }
  }
}

@media screen and (max-width: 539px) {
  .c {
    width: 65vw;
    height: 45vw;
    border-radius: 10px;
  }

  .back {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .front {
    border: 3px solid black;
    section {
      padding: 20px;

      p {
        font-family: $light-font;
        font-size: 22px;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 850px) {
  .c {
    width: 65vw;
    height: 45vw;
    border-radius: 10px;
  }

  .back {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .front {
    border: 3px solid black;
    section {
      padding: 20px;

      p {
        font-family: $light-font;
        font-size: 22px;
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
}

@media screen and (min-width: 1350px) {
}
