@import "./styles/variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.index {
  margin-left: 8vw;
  margin-right: 8vw;
}

h1 {
  font-family: $title-font;
  font-size: 4.5vw;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 0cm;
}

.coolBeans {
  font-family: $light-font;
  font-weight: 700;
  font-size: 28px;
  border: 2px solid currentColor;
  border-radius: 2rem;
  color: black;
  background-color: white;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.coolBeans::after {
  background-color: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  border: 2px solid transparent;
  color: white;
  transform: scale(1);
  will-change: transform;
}

@media screen and (max-width: 449px) {
  h1 {
    font-size: 10vw;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 0cm;
  }
}

@media screen and (min-width: 450px) and (max-width: 540px) {
  h1 {
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 0cm;
  }
}

@media screen and (min-width: 540px) and (max-width: 850px) {
  h1 {
    font-size: 44px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 0cm;
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
}

@media screen and (min-width: 1350px) {
  .index {
    margin-left: 11vw;
    margin-right: 11vw;
  }
}
