@import "../../styles/variables.scss";

.top_nav {
  margin-top: 3%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .top_nav_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      text-decoration: none;
      color: black;
      display: flex;
      font-family: $logo-font;
      font-size: 5vw;

      .logo_hover {
        display: none;
      }
    }
  }

  nav {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-between;

    font-family: $light-font;

    .link-pionter {
      cursor: pointer;
      position: relative;
      font-family: $light-font;
      font-weight: 300;
      font-size: 22px;
      text-decoration: none;
    }

    ul {
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: space-between;
    }

    .link-pionter::after {
      transition: all 0.5s;
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: black;
      height: 3px;
    }

    .link-pionter:hover::after {
      width: 100%;
    }
  }
}
@media screen and (max-width: 539px) {
  .top_nav {
    margin-top: 5vh;
    height: 10vh;

    .top_nav_left {
      .logo {
        font-size: 48px;
      }
    }

    nav {
      display: none;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 850px) {
  .top_nav {
    margin-top: 8%;
    height: 10vh;

    .top_nav_left {
      .logo {
        font-size: 6.5vw;
      }
    }

    nav {
      .link-pionter {
        font-size: 2.75vw;
      }
    }
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
  .top_nav {
    margin-top: 8%;
    height: 10vh;

    .top_nav_left {
      .logo {
        font-size: 6.5vw;
      }
    }

    nav {
      width: 50%;
      .link-pionter {
        font-size: 2vw;
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .top_nav {
    margin-top: 8%;
    height: 10vh;

    .top_nav_left {
      .logo {
        font-size: 6.5vw;
      }
    }

    nav {
      width: 50%;
      .link-pionter {
        font-size: 1.8vw;
      }
    }
  }
}
