@import "../../styles/variables.scss";

.navbar_mobile {
  @import "~bootstrap/scss/bootstrap";
  cursor: pointer;

  .navbar_bootstrap {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 18px;
    background-color: #f2f2f2;
  }

  .mobile_logo {
    font-family: $logo-font;
    font-size: 48px;
    color: black;
  }
}
