@import "../../styles/variables.scss";

.navbar_mobile {
  @import "~bootstrap/scss/bootstrap";
  cursor: pointer;

  .navbar_bootstrap {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-weight: 300;
    font-size: 18px;
    background-color: rgb(241, 247, 248);
  }
  img {
    width: 7vw;
  }
  .logo {
    text-decoration: none;
    color: black;
    display: flex;
    font-family: $logo-font;
    font-size: 5vw;
  }
}
