@import "../../styles/variables.scss";

.top_nav {
  margin-top: 3%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .top_nav_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      text-decoration: none;
      color: black;
      display: flex;
      font-family: $logo-font;
      font-size: 5vw;
      .logo_hover {
        display: none;
      }
    }
  }

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
    padding-right: 5vw;
    font-family: $light-font;

    .link-pionter {
      cursor: pointer;
      position: relative;
      font-family: $light-font;
      font-weight: 300;
      font-size: 22px;
      margin: 2vw;

      text-decoration: none;
    }

    ul {
      display: flex;
      list-style: none;
      text-align: center;
    }

    .link-pionter::after {
      transition: all 0.5s;
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: black;
      height: 3px;
    }

    .link-pionter:hover::after {
      width: 100%;
    }
  }
}
@media screen and (max-width: 539px) {
}

@media screen and (min-width: 540px) and (max-width: 850px) {
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
}

@media screen and (min-width: 1350px) {
}
