@import "../../styles/variables.scss";

.resume {
  margin-top: 10vh;

  .resume_subtitle {
    font-family: $sub-title-font;
    font-weight: 700;
    font-size: 40px;
  }
  h2 {
    padding-top: 2vh;
  }

  dt {
    font-family: $light-font;
    font-size: 22px;
    padding-bottom: 10px;
  }
  section {
    display: flex;
    .resume-left {
      width: 70%;
    }
    .resume-right {
      width: 30%;
    }
  }
  .two-column {
    display: flex;
    dl {
      padding-right: 10vw;
    }
  }

  button {
    margin-top: 15vh;
    width: 400px;
  }
  a button {
    cursor: pointer;
  }
  a:hover {
    color: white;
  }

  a button:focus {
    outline: 0;
  }
}

#resume_div {
  height: 1100px;
  width: 10px;
}
@media screen and (max-width: 539px) {
  #download_resume {
    font-size: 22px;
  }

  .resume {
    .resume_subtitle {
      font-size: 24px;
    }
    h2 {
      font-size: 15px;
      padding-top: 2vh;
    }

    dt {
      font-size: 16px;
      padding-bottom: 10px;
    }

    .two-column {
      dl {
        padding-right: 10vw;
      }
    }

    button {
      width: 300px;
    }
  }
}

@media screen and (min-width: 540px) and (max-width: 850px) {
  #download_resume {
    font-size: 22px;
  }

  .resume {
    .resume_subtitle {
      font-size: 26px;
    }
    h2 {
      padding-top: 2vh;
    }

    dt {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .two-column {
      dl {
        padding-right: 10vw;
      }
    }

    button {
      width: 300px;
    }
  }
}

@media screen and (min-width: 850px) and (max-width: 1350px) {
  .resume {
    .resume_subtitle {
      font-size: 26px;
    }
    h2 {
      font-size: 16px;
      padding-top: 2vh;
    }

    dt {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .two-column {
      dl {
        padding-right: 10vw;
      }
    }
  }
}

@media screen and (min-width: 1350px) {
}
