@import "../../styles/variables.scss";

.resume {
  margin-top: 10vh;

  .resume_subtitle {
    font-family: $sub-title-font;
    font-weight: 700;
    font-size: 40px;
  }
  h2 {
    padding-top: 2vh;
  }

  dt {
    font-family: $light-font;
    font-size: 22px;
    padding-bottom: 10px;
  }
  section {
    display: flex;
    .resume-left {
      width: 70%;
    }
    .resume-right {
      width: 30%;
    }
  }
  .two-column {
    display: flex;
    dl {
      padding-right: 10vw;
    }
  }

  button {
    margin-top: 15vh;
    width: 400px;
  }
  a button {
    cursor: pointer;
  }
  a:hover {
    color: white;
  }

  a button:focus {
    outline: 0;
  }
}

#resume_div {
  height: 260vw;
  width: 10px;
}
