@import '../../styles/variables.scss';


.gridContainer{
    padding-top: 16vh;
    padding-bottom: 16vh;
    padding-left: 7vw;
    padding-right: 7vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgGrid{
    width: 22vw;
    height: 31vh;
    background-color: $base-color;

}

.gridItemText{
    display: flex;
    justify-content: center;
    padding-top: 3.4vh;

    font-family: $title-font;
    font-weight: 400;
}