@import '../../styles/variables.scss';

.topSection{
    height: 100vh;
    background: $base-color-transparent;
}

.topText{
    display: flex;
    flex-direction: column;
}
.titleMain{
    width: 40vw;
    font-family: $title-font;
    font-weight: 700;
    font-size: 54px;
    padding-left: 18.5vw;
    padding-top: 5vh;
}

.txtAndButton{
    padding-top: 6vh;
    display: flex;
    padding-left: 18.5vw;
    padding-right: 18.5vw;

}
.textAfterTitle{
    font-family: $title-font;
    width: 42vw;
    font-weight: 400;
    font-size: 22px;
}

.learnMoreButton{
    
    margin-left: 6vw;
    border-radius: 20px;
    font-family: $title-font;
    font-weight: 700;
    font-size: 23px;
    width: 19vw;
    height: 10vh;

    color: white;
    background-color: black;


}
#learnMoreIcon{
    padding-left: 2vw;
    font-size: 23px;
}

.learnMoreButton:hover{
    background-color: rgb(29, 29, 29); 
}
