@import "../../styles/variables.scss";

.footer {
  hr {
    height: 1.5px;
    background-color: #4a4948;
    border-radius: 500px;
  }
  div {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    font-family: $logo-font;
    font-size: 2vw;
  }
}
