@import "../../styles/variables.scss";

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5vh;

  .description_text {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: $base-font;
    font-size: 1.3vw;
    font-weight: 300;

    #sub_title {
      font-family: $light-font;
      font-size: 22px;
      padding-bottom: 10px;
    }

    #title {
      padding-bottom: 0px;
    }

    p {
      font-family: $light-font;
      font-size: 22px;
      padding-bottom: 10px;
    }
  }

  // .profile_pic {
  //   img {
  //     height: 350px;
  //     width: 350px;
  //     background-color: #bbb;
  //     border-radius: 50%;
  //     display: inline-block;
  //     object-fit: cover;
  //   }
  // }
}
