@import "../../styles/variables.scss";

.blog_box_text {
  display: none;
}

.blog_box_learn {
  display: none;
}

div.blog_box:hover {
  background: #f1f9ff 0% 0% no-repeat padding-box;
  transform: scale(1.1);
  opacity: 1;

  .blog_box_learn {
    display: block;
    color: #2699fb;
  }

  .blog_box_text {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
  }

  .blog_box_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
    margin-left: 1.1vw;
    margin-right: 1.1vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
