@import "../../styles/variables.scss";

.contact_subtitle {
  font-family: $title-font;
  font-size: 2vw;
  font-weight: 700;
  padding-bottom: 15vh;
}

.contact {
  display: flex;
  justify-content: space-between;
  .contact_left {
    img {
      padding-top: 5vh;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .contact_right {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    input {
      font-family: $light-font;
      font-size: 22px;
      border-radius: 5px;
      margin-bottom: 15px;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      background-color: #f5f5f5;
      border: none;
    }

    textarea {
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 25px;
      padding-right: 25px;
      font-family: $light-font;
      font-size: 22px;
      border-radius: 5px;
      margin-bottom: 15px;
      width: 100%;
      background-color: #f5f5f5;
      border: none;
      overflow-y: scroll;
      resize: none;
    }
  }
  .submit_button {
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
  }
}
