@import "../../styles/variables.scss";

.project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;

    width: 550px;
    height: 350px;
    background-color: khaki;
    border-radius: 20px;

    img {
      height: 100px;
    }
    .box_text {
      position: absolute;
      visibility: hidden;
    }
  }
}

.box:hover img {
  opacity: 0.2;
}

.box:hover .box_text {
  visibility: visible;
}
