@import "../../styles/variables.scss";

.project {
  h1 {
    font-family: $title-font;
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 0cm;
  }
  div {
    display: flex;
    justify-content: space-around;
    .project-1 {
      width: 45%;
      height: 250px;
      background-color: hotpink;
    }
    .project-2 {
      width: 45%;
      height: 250px;
      background-color: khaki;
    }
  }
}
