@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// fonts 
$base-font: 'Calibre', sans-serif;


// $base-color: #979797;

// $base-color-transparent:transparent linear-gradient(180deg, #FFFFFF 0%, #9EC1D2 100%) 0% 0% no-repeat padding-box;

// $button-background-transparent: transparent linear-gradient(90deg, #398DF9 0%, #53ABCA 48%, #4AB26E 100%) 0% 0% no-repeat padding-box;

// $font-color: #313030;
// $link-color: #313030;

