@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap");
// fonts
$base-font: "Calibre", sans-serif;
$underline-color: #008080;
$logo-font: "Miss Fajardose", cursive;

$title-font: Georgia, "Times New Roman", Times, serif;
